################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/web/script.js
/web/.vs/slnx.sqlite
/web/.vs/web/v15/.suo
